<footer class="p-4 bg-white md:p-8 lg:p-10">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-slate-900">
            Fitness    
        </a>
        <p class="my-6 text-slate-500">An Open-source solution for logging workouts and tracking information.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-slate-900">
            <li>
                <a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
            </li>
            <li>
                <a href="/login" class="mr-4 hover:underline md:mr-6">Login</a>
            </li>
            <li>
                <a href="/signup" class="mr-4 hover:underline md:mr-6 ">Sign-up</a>
            </li>
            <li>
                <a href="https://github.com/dylanwe/fitness-app" target="_blank" class="mr-4 hover:underline md:mr-6">Github</a>
            </li>
            <li>
                <a href="https://github.com/dylanwe/fitness-app" target="_blank" class="mr-4 hover:underline md:mr-6">API docs</a>
            </li>
        </ul>
        <span class="text-sm text-slate-500 sm:text-center">©<%= new Date().getFullYear() %>  <a href="#" class="hover:underline">Fitness-app</a>. All Rights Reserved.</span>
    </div>
  </footer>