<button data-open-sidebar class="fixed md:hidden top-6 right-4 shadow-md bg-slate-50 hover:bg-slate-100 p-4 rounded-lg cursor-pointer transition-colors z-40">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="24" fill="currentColor"><path d="M1 0h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2zm0 8h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2zm0-4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z"></path></svg>
</button>

<aside class="z-50 fixed md:sticky top-0 overflow-y-auto overflow-x-hidden h-screen bg-slate-50 shadow-xl md:shadow-none lg:min-w-fit lg:sticky" aria-label="Sidebar">
    <div data-sidebar-content class="hidden md:flex flex-col justify-between h-full py-4 pl-3 pr-3 lg:pr-6">
        <ul class="space-y-2">
            <li class="block md:hidden">
                <button data-close-sidebar href="/dashboard"
                    class="ml-auto flex items-end text-base font-normal text-slate-900 rounded-lg hover:bg-slate-50 mb-6 mt-2 bg-white shadow-md p-4 mr-1">
                    <svg class="flex-shrink-0 w-6 h-6 text-slate-500 transition duration-75 group-hover:text-slate-900" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 2C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z"></path><path d="M11.414 10l2.829 2.828a1 1 0 0 1-1.415 1.415L10 11.414l-2.828 2.829a1 1 0 1 1-1.415-1.415L8.586 10 5.757 7.172a1 1 0 0 1 1.415-1.415L10 8.586l2.828-2.829a1 1 0 0 1 1.415 1.415L11.414 10z"></path></svg>
                </button>
            </li>
            <li class="font-bold text-slate-900 text-xl mb-2 p-2">
                🏋️‍♂️ <span class="ml-3 inline md:hidden lg:inline">Fizzy</span>
            </li>
            <hr class="py-2">
            <li>
                <a href="/dashboard"
                    class="flex items-center p-2 text-base font-normal text-slate-900 rounded-lg hover:bg-slate-100">
                    <svg class="flex-shrink-0 w-6 h-6 text-slate-500 transition duration-75 group-hover:text-slate-900" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M2 2v4h4V2H2zm0-2h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm12 0h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v4h4V2h-4zm0 10h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2zm0 2v4h4v-4h-4zM2 12h4a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2zm0 2v4h4v-4H2z"></path></svg>
                    <span class="ml-3 inline md:hidden lg:inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/stats"
                    class="flex items-center p-2 text-base font-normal text-slate-900 rounded-lg hover:bg-slate-100">
                    <svg class="flex-shrink-0 w-6 h-6 text-slate-500 transition duration-75 group-hover:text-slate-900" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4 24 24" width="24" fill="currentColor"><path d="M1 0a1 1 0 0 1 1 1v14a1 1 0 0 1-2 0V1a1 1 0 0 1 1-1zm12 4a1 1 0 0 1 1 1v10a1 1 0 0 1-2 0V5a1 1 0 0 1 1-1zM7 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path></svg>
                    <span class="ml-3 inline md:hidden lg:inline">Stats</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/history"
                    class="flex items-center p-2 text-base font-normal text-slate-900 rounded-lg hover:bg-slate-100">
                    <svg class="flex-shrink-0 w-6 h-6 text-slate-500 transition duration-75 group-hover:text-slate-900" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M11 9h4a1 1 0 0 1 0 2h-5a1 1 0 0 1-1-1V4a1 1 0 1 1 2 0v5zm-1 11C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path></svg>
                    <span class="ml-3 inline md:hidden lg:inline">History</span>
                </a>
            </li>
        </ul>
        <ul class="space-y-2">
            <hr class="border border-slate-200">
            <li>
                <a href="/dashboard/settings"
                    class="flex items-center p-2 text-base font-normal text-slate-900 rounded-lg hover:bg-slate-100">
                    <svg class="flex-shrink-0 w-6 h-6 text-slate-500 transition duration-75 group-hover:text-slate-900" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M20 8.163A2.106 2.106 0 0 0 18.926 10c0 .789.433 1.476 1.074 1.837l-.717 2.406a2.105 2.105 0 0 0-2.218 3.058l-2.062 1.602A2.104 2.104 0 0 0 11.633 20l-3.29-.008a2.104 2.104 0 0 0-3.362-1.094l-2.06-1.615A2.105 2.105 0 0 0 .715 14.24L0 11.825A2.106 2.106 0 0 0 1.051 10C1.051 9.22.63 8.54 0 8.175L.715 5.76a2.105 2.105 0 0 0 2.207-3.043L4.98 1.102A2.104 2.104 0 0 0 8.342.008L11.634 0a2.104 2.104 0 0 0 3.37 1.097l2.06 1.603a2.105 2.105 0 0 0 2.218 3.058L20 8.162zM14.823 3.68c0-.063.002-.125.005-.188l-.08-.062a4.103 4.103 0 0 1-4.308-1.428l-.904.002a4.1 4.1 0 0 1-4.29 1.43l-.095.076A4.108 4.108 0 0 1 2.279 7.6a4.1 4.1 0 0 1 .772 2.399c0 .882-.28 1.715-.772 2.4a4.108 4.108 0 0 1 2.872 4.09l.096.075a4.104 4.104 0 0 1 4.289 1.43l.904.002a4.1 4.1 0 0 1 4.307-1.428l.08-.062A4.108 4.108 0 0 1 17.7 12.4a4.102 4.102 0 0 1-.773-2.4c0-.882.281-1.716.773-2.4a4.108 4.108 0 0 1-2.876-3.919zM10 14a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path></svg>
                    <span class="ml-3 inline md:hidden lg:inline">Settings </span>
                </a>
            </li>
            <li>
                <a data-logout
                    class="flex items-center p-2 text-base font-normal text-slate-900 rounded-lg hover:bg-slate-100 cursor-pointer">
                    <svg class="flex-shrink-0 w-6 h-6 text-slate-500 transition duration-75 group-hover:text-slate-900" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -3 24 24" width="24" fill="currentColor"><path d="M3.414 7.828h5.642a1 1 0 1 1 0 2H3.414l1.122 1.122a1 1 0 1 1-1.415 1.414L.293 9.536a.997.997 0 0 1 0-1.415L3.12 5.293a1 1 0 0 1 1.415 1.414L3.414 7.828zM13 0a1 1 0 0 1 1 1v16a1 1 0 0 1-2 0V1a1 1 0 0 1 1-1z"></path></svg>
                    <span class="ml-3 inline md:hidden lg:inline">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</aside>