<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Workout app</h1>
</body>

</html>