<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Workout</title>
</head>

<body>
    <main class="max-w-lg mx-auto px-4 my-4">
        <h1 class="text-4xl text-gray-800 font-bold">Workout 🏋️‍♂️</h1>
        <p class="my-2 text-gray-500">Hello <%= username %>
        </p>
        <p class="mt-2 text-gray-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, unde ipsa ex
            omnis accusantium.</p>

        <form data-exercises class="my-6">
            <%# exercise template %>
                <template id="exercise">
                    <div data-exercise-id="x" class="my-6">
                        <h2 class="font-bold text-lg text-gray-600">Push ups</h2>
                        <div class="relative overflow-x-auto rounded-md border mt-2 mb-4">
                            <table class="w-full text-sm text-left text-gray-500">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Set
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            kg
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Reps
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            <span class="sr-only">Delete set</span>
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            <span class="sr-only">Completeded</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-set-rows>
                                    <tr data-set class="bg-white">
                                        <th data-set-number scope="row"
                                            class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap">
                                            1
                                        </th>
                                        <td class="px-6 py-4">
                                            <input name="weight" class="inline-block w-16 border-none bg-gray-50 rounded"
                                                type="number" value="20">
                                        </td>
                                        <td class="px-6 py-4">
                                            <input name="reps" class="inline-block w-16 border-none bg-gray-50 rounded"
                                                type="number" value="12">
                                        </td>
                                        <td class="px-6 py-4 text-right">
                                            <button data-remove href="#" class="font-medium text-red-600">X</button>
                                        </td>
                                        <td class="w-4 p-4">
                                            <div class="flex items-center">
                                                <input data-checkbox type="checkbox"
                                                    class="w-4 h-4 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-0" name="completed">
                                                <label for="checkbox-table-1" class="sr-only">checkbox</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <button data-add-set type="button"
                            class="block text-center w-full bg-gray-100 p-2 text-gray-800 rounded-md text-sm">Add
                            set</button>
                    </div>
                </template>

                <%# set template %>
                    <template id="set">
                        <tr data-set class="bg-white">
                            <th data-set-number scope="row"
                                class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap">
                                1
                            </th>
                            <td class="px-6 py-4">
                                <input name="weight" class="inline-block w-16 border-none bg-gray-50 rounded"
                                    type="number" value="20">
                            </td>
                            <td class="px-6 py-4">
                                <input name="reps" class="inline-block w-16 border-none bg-gray-50 rounded"
                                    type="number" value="12">
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button data-remove href="#" class="font-medium text-red-600">X</button>
                            </td>
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input data-checkbox type="checkbox"
                                        class="w-4 h-4 text-green-500 bg-gray-100 border-gray-300 rounded focus:ring-0" name="completed">
                                    <label for="checkbox-table-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                        </tr>
                    </template>
        </form>

        <button data-add-exercise type="button" class="block w-full bg-cyan-100 border-2 border-cyan-500 text-cyan-500 rounded-md p-2">
            Add excerise
        </button>

        <button data-complete type="button" class="mt-2 block w-full bg-cyan-500 text-white rounded-md p-2">
            Complete workout
        </button>

        <!-- Main modal -->
        <div data-exercise-picker tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full bg-black bg-opacity-40">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto mx-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-toggle>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Modal header -->
                    <div class="py-4 px-6 rounded-t border-b dark:border-gray-600">
                        <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                            Select exercise
                        </h3>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6">
                        <ul class="my-4 space-y-3">
                            <% exercises.forEach(exercise=> { %>
                                <li data-exercise-pick="<%= exercise.id %>" class="flex items-center p-3 text-base
                                    font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                                    hover:cursor-pointer">
                                    <span class="flex-1 ml-3 whitespace-nowrap capitalize">
                                        <%= exercise["name"] %>
                                    </span>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/workoutForm.js"></script>
</body>

</html>